{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Appcsspartimages/Staff/css/bootstrap_min.css' %}">   
    <link rel="stylesheet" href="{% static 'Appcsspartimages/Staff/css/StaffCandidate_student.css' %}">
    <title>Document</title>
</head>
<body class="staffbody">
{% if messages %}

{% for mes in messages %}
    <script>
        alert("{{mes}}")
    </script>
{% endfor %}

{% endif %}

<div class=" Staffprofileheader  ">
        <div class="row CandPost_title d-flex justify-content-between">
            <div class="col-sm-2 CandPost_header col bold_3  text-center  ">
                {{header_nav}}
            </div>
            <div class="col-sm-2  col d-flex justify-content-end   ">
                <a href=" {% url 'SatffCandidateProfileBack' %} " class="btn bg-light border CandPost_btn " >
                    <ion-icon name="arrow-back-outline">Back</ion-icon>
                </a>
            </div>
        </div>
</div>



<section id="profile">
    
    <div class="conatiner  mt-4">
        <!--IMAGE BOX fron phase start -->
        <div class="row ">
            <div class="col-sm-12 text-center profile_back"><!--background image--></div>
          
           <!-- <a href="#" class="Edit_btn btn" >Edit</a>-->


            <div class="col-sm-12 text-center profile_back_header">
                    <div class="row">
                                <div class="col-md-3   d-flex justify-content-around">
                                    <div class="Profile_img_box shadow-lg">  <!--ADD IMG-->      </div>
                                </div>
                                <div class="col-md-8 mt-5 Profile_heading CandiColor">
                                    <div class="row">
                                        <div class="col-sm-6 text- profile_title">
                                            {{data.UserId_id}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col bold" style="border-right: 2px solid black;">
                                            phone:{{data.Phone}}
                                        </div>
                                        <div class="col-sm-3 col bold">
                                            gmail: {{data.Email}}
                                        </div>
                                    </div>
                                </div>
                    </div>
            </div>
    
        </div>

        <!--IMAGE BOX fron phase end -->

        <!--SECOND PHASE START-->
        <div class="row alert for_space  "></div>
        
        <div class="row alert ">
            <div class="container mt-2">
                <form action="" class="form-group" method="post">
                    
                    <!--row 1 of field-->
                
                        <div class="row  ">
                            <label class="col-sm-2 offset-sm-1 control-label">CandidateName &nbsp :</label>
                            <div class="col-sm-8  mb-3">
                                <input type="text" class="form-control" id="focusedinput" disabled='True' value="{{data.Name}}">
                            </div>
                        </div>              
                        
                    <!--End row 1 of field-->


                    <!--row 2 of field-->
                
                         <div class="row  ">
                            <label class="col-sm-2 offset-sm-1 control-label">CandidatePhne &nbsp :</label>
                            <div class="col-sm-8 mb-3">
                                <input type="text" class="form-control" id="focusedinput" disabled='True'value="{{data.Phone}}">
                            </div>
                        </div>              
                        
                    <!--End row 2 of field-->


                    <!--row 3 of field-->
                
                        <div class="row  ">
                            <label class="col-sm-2 offset-sm-1 control-label">AlternateNumber &nbsp :</label>
                            <div class="col-sm-8 mb-3">
                                <input type="text" class="form-control" id="focusedinput" disabled='True' value="{{data.AlternateNumber}}">
                            </div>
                        </div>              
                    
                    <!--End row 3 of field-->


                    <!--row 3 of field-->
                
                        <div class="row  ">
                            <label class="col-sm-2 offset-sm-1 control-label">CandidateEmail &nbsp :</label>
                            <div class="col-sm-8 mb-3">
                                <input type="text" class="form-control" id="focusedinput" disabled='True' value="{{data.Email}}">
                            </div>
                        </div>              
                    
                    <!--End row 3 of field-->  
                    
                    <!--row 4 of field-->

                        <div class="row  ">
                            <label class="col-sm-2 offset-sm-1 control-label">CandidateGender &nbsp :</label>
                            <div class="col-sm-8 mb-3">
                                <input type="text" class="form-control" id="focusedinput" disabled='True'value="{{data.Gender}}">
                            </div>
                        </div>              
                
                    <!--End row 4 of field-->
                    
                    
                 

                    <!--row 5 and 6 of field-->

                    <div class="row  ">

                        <div class="col-md-5 offset-sm-1">
                                <div class="row">
                                    <label class="col-sm-3  control-label">UserId&nbsp :</label>
                                    <div class="col-sm-8 mb-3">
                                        <input type="text" class="form-control" id="focusedinput" disabled='True' value="{{data.UserId_id}}">
                                    </div>   
                                </div>
                        </div>
                        <div class="col-md-5">
                                <div class="row  ">
                                    <label class="col-sm-3 offset-sm-1 control-label">Password &nbsp :</label>
                                    <div class="col-sm-8 mb-3">
                                        <input type="text" class="form-control" id="focusedinput" disabled='True'placeholder="Password">
                                    </div>
                                </div> 

                        </div>
                    </div>              
            
                <!--End row 6 and 7 of field--> 

                
                </form>
            </div>
        </div>
        <!--SECOND PHASE END-->
    </div>


</section>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static './js/bootstrap.js' %}"></script>


</body>
</html>
