*{
    margin: 0;
    padding: 0;
}
#main_box{
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.login_box{
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
     clip-path: polygon(0% 0%, 50% 0, 64% 30%, 83% 67%, 100% 100%, 0% 100%);
     display: flex;
     flex-wrap: wrap;
}
.login_form{
    margin:auto 2%;
    position: relative;
    width: 60%;
    height: 80%;
    background:rgba(255,255,255,0.5);
   
}
.login_form h2{
   position: absolute;

   left: 2%;
   font-weight: 900;
   color: rgb(48, 44, 44);
   position: relative;

}
.login_form p{
    left: 2%;
    color: rgb(48, 44, 44);
    position: relative;

}
.login_form p a{
    text-decoration: none;
    font-weight: 800;
}
.login_form p a:hover,.login_form form div a:hover{
    color: rgb(0, 183, 255);
}
.login_form form{
    
    width: 100%;
    height: 70%;
    background: rgba(249, 249, 253, 0.466);
    position: relative;
    display: flex;
    flex-wrap: wrap;    
}
.login_form form input[type='text'],.login_form form input[type='password']{
    margin: auto;
    width: 80%;
    height: 6vh;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 1px 2px 2px rgba(85, 85, 85, 0.562);
    
}
.login_form form input[type='submit']{
    width: 40%;
    height: 6vh;
    font-size: 3vh;
    margin:0 auto;
    background: linear-gradient(rgba(255, 0, 0, 0.596),rgba(255, 166, 0, 0.582));
    border-radius: 24px;
}

.login_form form div{
    margin:0 auto;
    width: 100%;
    height: 4vh;
    position: relative;
 }
 .login_form form div a{
     position: absolute;
     right: 2%;
     text-decoration: none;
     font-weight: 600;
 }

.img_box_show{
    position:absolute;
     width: 100%;
    height: 100%;
     background:linear-gradient(rgba(194, 3, 194, 0.589),rgba(4, 189, 221, 0.74)) ,url(./images/diamond.jpg);
    filter: opacity(80%);
}
.img_box_show div{
    position: absolute;
    right: 0;
    width: 35%;
    height: 50%;
  /* background: beige;*/
    display: flex;
    flex-wrap: wrap;
}
.img_box_show div h2{
    margin:5vh auto;
    font-size: 3.8vh;
    color: white;
}
.logo_login{
    width: 100%;
    height: 8vh;
    
}


@media only screen and (max-width:770px){
    .login_box{
       /* clip-path: polygon(0% 0%, 53% 0, 74% 28%, 100% 64%, 100% 100%, 0% 100%);*/
       clip-path: polygon(0% 0%, 45% 0, 68% 25%, 100% 57%, 100% 100%, 0% 100%);

    }
    #main_box{
        left: 3%;
    }
    .img_box_show div{
        width: 47%;
    }
    .img_box_show div h2{
        font-size: 3.7vw;
        margin: 9% 8%;
    }
    .login_form{
     
        width: 90%;
        height: 70%;
   }
   .login_form h2{
    top: 4%;
     left: 2%;
    }
   .login_form p{
       top: 8%;
        left: 2%;
   }
   .login_form form{
    left: 4%;   
    width: 90%;
    height: 60%;
    top: 10%;
    }
  
    .login_form form input[type='text'],.login_form form input[type='password']{
        margin: auto ;
        width: 87%;
        height: 4.5vh;
        box-shadow: 0 0.5px 1px 1px rgba(85, 85, 85, 0.562);
    }
    .login_form form input[type='submit']{
        width: 40%;
        height: 5vh;
        font-size: 2.5vh;
        margin:0 auto;
    }
    .logo_login{
        position: relative;
        top: 10%;
        width: 95%;
        height: 8vh;
    }
   
}