{% extends 'Admin/voting/AdminVoting.html' %}
{% block content  %}

{% if messages %}

{% for mes in messages %}
    <script>
        alert("{{mes}}")
    </script>
{% endfor %}

{% endif %}

<div class="conatiner">
    <div class="row mb-4 d-flex justify-content-end ">
        
        <div class="col-sm-1 col d-flex justify-content-end">
            <a  href=" {%  url 'AdminVotingPositionList' %} " class="btn btn-light">back</a>
        </div>

    </div>
    <div class="row  d-flex justify-content-between">
        <div class="col-sm-3  text-secondary "> <strong style="font-size: 3vh;">{{headerfilename}}: receive</strong> </div>
        
        <!--search for particular student-->
        <div class="col-sm-5" style="padding: 19px;">                
            <form class="d-flex ">                
                <input class="form-control me-2" type="search" placeholder="Search ! (Enter User ID) " aria-label="Search">                    
                <input style="max-width: 60px;border-radius: 10px;"  class=" btn-outline-success" type="submit" value="Search">
            </form>
        </div>
        
    </div>
    <div class="row d-flex justify-content-around">
        <div class="col-md-8 " >
            <!--table start-->
            <div class="container mt-3">                
                
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                        <!--column start -->
                      <tr class="bg-dark">
                        
                            
                        <th class="text-light text-center ">Id</th>
                        <th class="text-light text-center ">Position </th>
                        <th class="text-light text-center ">Candidate</th>
                        <th class="text-light text-center ">Action</th>
                        
                                                  
                      </tr>
                      <!--column end -->
                    </thead>
                    <tbody>


                        <!--table row 1 start                         
                        <tr>
                            <td class="text-center text-secondary" >0</td>
                            <td  class="text-center text-secondary"> empty </td>
                            <td  class="text-center text-secondary"> empty </td>
                            <td class="d-flex justify-content-around"> 
                                <form action="" method="post" class="d-flex inline"> 
                                    {% csrf_token %}
                                    <input type="text" name="" hidden=True placeholder="user id" id="">
                                    <input type="submit"hidden=True class="btn btn-primary" value="view">    
                                    <a href="  " class="btn btn-primary">View</a> &nbsp
                                    <a href=" " class="btn btn-danger">delete</a>
                                </form>
                            </td>                                                            
                        </tr>                            
                        table row 1 end-->


                        	
                        
                        
                        {% for list in obj  %}
                            <tr>
                            
                            <td  class="text-center text-secondary">{{list.id}}  </td>
                            <td  class="text-center text-secondary">{{list.position_id}}  </td>
                            <td  class="text-center text-secondary">{{list.CandidateUserId}}  </td>
                            <td class="d-flex justify-content-around"> 
                                <form action="" method="post" class="d-flex inline"> 
                                    {% csrf_token %}
                                    <input type="text" hidden=True name="Positioncan" value="{{list.CandidateUserId}}"  id="">
                                    <input type="submit"  name="ApplictionView"  class="btn btn-primary" value="view"> 
                               

                                    
                                </form>
                            </td>                                                            
                        </tr> 
                            
                        {% endfor %}
                        

                    </tbody>
                  </table>
                </div>
              </div>
            <!--table end-->
        </div>
    </div>
</div>

{% endblock  %}