{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Appcsspartimages/Candidate/css/CandDashboard.css' %}">
    <link rel="stylesheet" href="{% static 'Appcsspartimages/Candidate/css/bootstrap_min.css' %}">
    
    
    <title class="bold">Candidate</title>
</head>
<body class="CandiadteBackground">

    <div class="CandCheckPostHeader ">
        
        <span style="font-size: 4vh;position: absolute;left:4vh;">{{header_nav}}</span>

        <a style="font-size: 2.7vh;position: fixed;right: 5px;top: 1px;" href="{% url 'Cand_dashboard' %}" class="btn btn-outline-light"><ion-icon name="arrow-back-outline">back</ion-icon></a>
        
        
    </div>



                
<section class="CandCheckPostdash"> 
                  {% block content  %}
                <!--section should editable start part-->
                <div class="conatiner mt-3 ">
                   

                    <!-- row two start -->
                    <div class="row d-flex justify-content-around">

                        <!--Card 1 start-->
                        <div class="col-sm-3 alert d-flex justify-content-around">
                            <div>
                                <div class="card DashboardCard " style="width: 16rem;">
                                    <span> <ion-icon name="aperture-outline"></ion-icon> </span>
                                    <!--card internal part-->
                                    <div class="Dash_card_writing">
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                Check Result
                                            </div>
                                        </div>
                                        
                                        <div class="row d-flex justify-content-around">
                                        
                                        <a  href="{% url 'CandidateOwnPOST' %}" style="max-width: 40%;margin-top: 2px;"  class="col-sm-3  btn btn-danger"> Check </a>
                                        </div>
                                    </div>
                                    
                                </div>  
                                <div class="row "> 
                                    <span class="text-center dash_cardheader" > &nbsp  Check Own post.  &nbsp</span>
                                </div>
                            
                            </div>
                        </div>
                        <!--Card 1 end-->

                        <!--Card 2 start-->
                        <div class="col-sm-3 alert d-flex justify-content-around">
                            <div>
                                <div class="card DashboardCard " style="width: 16rem;">
                                    <span> <ion-icon name="images-outline"></ion-icon></span>
                                    <!--card internal part-->
                                    <div class="Dash_card_writing">
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                Check Result
                                            </div>
                                        </div>
                                        
                                        <div class="row d-flex justify-content-around">
                                        
                                        <a href="{% url 'CandidateAllPOST' %}"  style="max-width: 40%;margin-top: 2px;"  class="col-sm-3  btn btn-danger"> Check </a>
                                        </div>
                                    </div>
                                    
                                </div>  
                                <div class="row "> 
                                    <span class="text-center dash_cardheader" > &nbsp  Check All post.  &nbsp</span>
                                </div>
                            
                            </div>
                        </div>
                        <!--Card 2 end-->

                    </div>
                    <!-- row two end -->
                </div>

                {% if messages %}
                {% for mes in messages %}
                <script>
                alert('{{mes}}');
                </script>
                {% endfor %}
                {% endif %}
                        

                    
               
                <!--section should editable end part-->
                {% endblock  %}
</section> 


<style>
    .CandCheckPostHeader{
        width: 100%;
        position: fixed;
        height: 7vh;
        background: linear-gradient(to right ,rgba(22, 243, 225, 0.829),rgb(142, 90, 240));
        z-index: 10;
    }
    .CandCheckPostdash{
        position: absolute;
        top: 10vh;
        width: 98%;
        left: 1%;
        max-height: 5000vh;
        overflow: hidden;

       
    }
</style>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static './js/bootstrap.js' %}"></script>

</body>
</html>