{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'Appcsspartimages/Admin/css/bootstrap_min.css' %} ">
    <link rel="stylesheet" href=" {% static 'Appcsspartimages/Admin/css/AdminCandStaff.css' %} ">
    <title>Admin : {{headerfilename}}</title>
</head>
<body>
    {% if messages %}

    {% for mes in messages %}
        <script>
            alert("{{mes}}")
        </script>
    {% endfor %}
    
    {% endif %}    
    
    <div class="AdminFormNav bg-dark">
        <div class="container">
            <div style="margin-top: -8px;" class="row d-flex justify-content-between">
                <div class="col-sm-7 col  text-light FromHeader"><span class="Admin-span">Admin &nbsp :</span> {{headerfilename}}</div>
                
            </div>
            <div class="fixed_Backbtn">
                <a href=" {% url 'AdminStaffDashBack' %} " class="btn btn-light">
                    <ion-icon style="font-size: 2.5vh;" name="arrow-back-outline">Bk</ion-icon>
                </a>
            </div>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <!--Code Started  Start-->
    <section class="Admin_form_code">

    {% block content %}
    
        <div class="container mt-3">
            <div class="row d-flex justify-content-between">
                <div class="col-sm-5  col" style="font-size: 3vh;"> <span style="letter-spacing: .5px;">Pannel of {{AdimStaffUserid}}</span> </div>
                <div class="col-sm-1 d-flex justify-content-end ">
                    <a style="max-width: 60px;" class=" btn btn-primary text-center" href="mailto: request.session.AdimStaffUserEmail ">Email</a>
                </div>
                            
                
            </div>
            <!-- Second card Start-->
            <div class="row d-flex justify-content-around">

                <!--card 1 start-->
                <div class="col-sm-3 mt-4  d-flex justify-content-around  ">
        
                    <div class="card  mb-3 border  " style="width: 16rem;">
                        <span class="AdminIconBox" >
                            <ion-icon name="book-outline">Icon</ion-icon>
                        </span>
                        <div class="AdminCardDetails">
                            <div class="row mb-2">
                                <div class="control-label  text-center"> <strong>  Visit Proflie </strong> </div>
                            </div>
                            <div class="row d-flex justify-content-around">
                                <a href=" {% url 'AdminDashProfile' %} " style="max-width: 60%;" class="btn btn-info">Vist</a>
                            </div>
                        </div>
                    </div>
    
                </div>
                <!--card 1 end-->
                
                <!--card 2 start-->
                <div  class="col-sm-3 mt-4  d-flex justify-content-around  ">
        
                    <div class="card  mb-3 border  " style="width: 16rem;">
                        <span class="AdminIconBox" >
                            <ion-icon  name="person-circle">Icon</ion-icon> 
                        </span>
                        <div class="AdminCardDetails ">
                            <div class="row mb-2">
                                <div class="control-label  text-center"> <strong> Candidate added by {{AdimStaffUserid}} </strong> </div>
                            </div>
                            <div class="row d-flex justify-content-around">
                                <a href=" {% url 'AdStaffCandList' %} " style="max-width: 60%;" class="btn btn-info"> View</a>
                            </div>
                        </div>
                    </div>
    
                </div>
                <!--card 2 send-->

                <!--card 2 start-->
                <div class="col-sm-3 mt-4  d-flex justify-content-around  ">
        
                    <div class="card  mb-3 border  " style="width: 16rem;">
                        <span class="AdminIconBox" >
                            <ion-icon name="people-circle">Icon</ion-icon>
                        </span>
                        <div class="AdminCardDetails" >
                            <div class="row mb-2">
                                <div class="control-label  text-center"> <strong> Student added by {{AdimStaffUserid}}   </strong> </div>
                            </div>
                            <div  class="row d-flex justify-content-around">
                                <a href= "  {% url 'AdStaffStuList' %} " style="max-width: 60%;" class="btn btn-info"> View</a>
                            </div>
                        </div>
                    </div>
    
                </div>
                <!--card 2 send-->



            </div>
            <!--End row 1-->
        </div>

    {% endblock  %}
        

    </section>
    <!--Code Started  End-->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>